@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#logo {
    height: .6666 * 5rem;
    width: auto;
}

$white: #ffffff;
$background: #FBF2E7;
$green: #567B43;
$violet: #772475;
$dark: #262520;

.bg-default {
    background-color: $background;
}

.bg-violet {
    background-color: $violet;
}

.text-violet {
    color: $violet;
}

.bg-green {
    background-color: $green;
}

.bg-green-hover {
    background-color: darken( $green, 10% );
}

.btn {
    background-color: $green;
    color: $white;
    padding: 0.375rem;
    border-radius: 0.375rem;
    transition-duration: 1s;

    &.bg-violet {
        background-color: $violet;
    }

    &:hover {
        background-color: darken( $green, 10%);
    }
}

.box {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1.5rem;
    background-color: $white;
    margin-bottom: 2rem;

    .title {
        padding-bottom: 1rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
}
