@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "@vueform/toggle/themes/default.css";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#logo {
    height: .6666 * 5rem;
    width: auto;
}

$white: #ffffff;
$background: #FBF2E7;
$green: #567B43;
$violet: #772475;
$dark: #262520;
$brown: #B8A877;
$light-green: #9F993A;
$orange: #E4935D;
$blue: #6E9DAC;

$default_colors: (green: $green, violet: $violet, dark: $dark, brown: $brown);
@each $key,$color in $default_colors {
    .bg-#{$key} {
        background-color: $color;

        &:not(&.box):hover {
            background-color: darken($color, 10%);
        }
    }

    .border-#{$key} {
        border-color: $color;
    }

    .text-#{$key} {
        color: $color;
    }
}

.bg-default {
    background-color: $background;
}

.btn {
    color: $white;
    padding: 0.375rem;
    border-radius: 0.375rem;
    transition-duration: 1s;
}

.page-title {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-weight: 400;
}

.font-family-title {
    font-family: 'Libre Baskerville', serif;
}

.box {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 2px solid $white;

    .title {
        padding-bottom: 1rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
}
